/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2017, 2:53:26 PM
    Author     : seb
*/

body{
    padding-top: 5rem;
}
nav{
    background-color: #2D2F30;
}